@import "bootstrap-sprockets";
@import 'bootstrap';

.landing {
  background: image-url("austin_city.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}

.container {
    background: rgb(0, 206, 209); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(0, 206, 209, .7);
}

.bannertag {
    background: rgb(0, 206, 209); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(0, 206, 209, .7);

    color: #7FFF00;
}
@import 'home.scss';
@import 'posts.scss';
